@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

#logo a {
  font-size: 2.2rem;
  font-weight: 700;
  color: #87c16c;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}

header {
  width: 100%;
}

header > nav {
  position: relative;
  width: 1180px;
  height: 80px;
  margin: 0 auto;
}

header > nav > ul {
  float: right;
  text-align: center;
}

header > nav > ul > li {
  line-height: 80px;
  display: inline-block;
}

header > nav > ul > li:first-child {
  line-height: 80px;
  display: inline-block;
  margin-right: 30px;
}

header > nav > ul > li > a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  color: #111;
  /* width: 120px; */
}

header > nav > ul .tab {
  float: left;
  width: 600px;
  height: 290px;
}

/* 검색창 */
main {
  width: 1180px;
  margin: 0 auto;
}

#searchForm {
  padding: 100px 0 100px 0;
}
#searchForm > form {
  padding: 5px;
  width: 565px;
  margin: 0 auto;
  position: relative;
}

#searchForm > form > ul {
  display: flex;
  flex-wrap: row, nowrap;
  align-items: center;
  justify-items: center;
}

#searchForm > form > ul > li > input {
  width: 500px;
  height: 55px;
  box-sizing: border-box;
  border-radius: 15px;
  border: none;
  padding-left: 35px;
  box-shadow: 0 0 5px #ccc;
  font-size: 1.6rem;
}

#searchForm > form > ul > li > button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  margin-left: -75px;
}

#searchForm > form > ul > li > button[type="button"] {
  width: 56px;
  height: 56px;
  border-radius: 15px;
  box-shadow: 0 0 5px #ccc;
  margin-left: 0;
}

#searchForm > form > ul > li > button[type="button"] > span {
  font-size: 3rem;
}

.xi-search {
  font-size: 2.6rem;
}
.calendarIcon > a {
  position: relative;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0 0 5px #ccc;
  margin-left: 10px;
  width: 56px;
  height: 56px;
}
.calendarIcon > a > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 34px;
}

/* 카테고리 섹션 */
#categoryIcon {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 100px;
}
#categoryIcon > ul {
  display: flex;
  flex-wrap: row, nowrap;
  align-items: center;
  justify-content: space-evenly;
}

#categoryIcon > ul > li {
  text-align: center;
  width: 60px;
  height: 50px;
}

#categoryIcon > ul > li > a > p {
  color: #111;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 5px;
}

.IndexIcon {
  width: 50px;
  height: 50px;
}

#visual {
  width: 1180px;
}
