@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

#logo a {
  font-size: 2.2rem;
  font-weight: 700;
  color: #28536a;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  /* transition: all 0.3s; */
}

#headerBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  z-index: -999;
  overflow: hidden;
  background: linear-gradient(
    138.12017810652605deg,
    rgba(190, 224, 206, 1) 4.6750805585392055%,
    rgba(253, 235, 224, 1) 64.93286788399571%
  );
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
}

header > nav {
  position: relative;
  width: 1180px;
  height: 80px;
  margin: 0 auto;
}

header > nav > ul {
  float: right;
  text-align: center;
}

header > nav > ul > li {
  position: relative;
  line-height: 80px;
  display: inline-block;
}

header > nav > ul > li::before {
  content: "";
  position: absolute;
  visibility: hidden;
  top: 50%;
  right: -50px;
  width: 80px;
  height: 30px;
  z-index: -1;
  transform: translate(0, -50%);
  border-radius: 30px;
  transition: all 0.3s;
}

header > nav > ul > li:hover::before {
  visibility: visible;
  background: #bee0ce;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: all 0.3s;
}

header > nav > ul > li:first-child {
  line-height: 80px;
  display: inline-block;
  margin-right: 30px;
}

header > nav > ul > li > a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  color: #111;
  /* width: 120px; */
}

header > nav > ul .tab {
  float: left;
  width: 600px;
  height: 290px;
}

#searchContainer {
  width: 100%;
  background: #28536a;
  padding: 10px 0;
  box-sizing: border-box;
}

.searchArea > form {
  position: relative;
}
.searchArea > form > input {
  width: 800px;
  height: 25px;
  border-radius: 10px;
  border: none;
  padding: 20px;
  font-size: 1.5rem;
}

.searchArea > form > input:focus {
  outline: none;
}

.searchArea > form > button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  border: none;
  background: transparent;
}

.xi-search {
  font-size: 2.5rem;
}

.searchArea {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-flow: row, nowrap;
  justify-content: space-between;
}
.subNavIcon {
  width: 330px;
  border-radius: 10px;
  display: flex;
  flex-flow: row, nowrap;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

.subNavIcon > li > a > span {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
}

.subNavIcon > li > a > img {
  width: 35px;
}

main {
  width: 1180px;
  padding: 30px 0 30px 0;
  margin: 0 auto;
}

main > h1 {
  font-size: 2.5rem;
  color: #111;
}

.cityCategory {
  width: 100%;
}

.cityCategory > ul {
  margin-top: 40px;
}

.cityCategory > ul > li {
  display: inline-block;
  text-align: left;
}

.cityCategory > ul > li > a {
  text-align: left;
  margin: 10px;
  padding: 10px 20px;
  background: #f3f3f3;
  color: #111;
  font-size: 1.4rem;
  font-weight: 500;
}

#contentContainer {
  width: 100%;
}

.contentWraper {
  margin-top: 40px;
}

.items {
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 5px #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-flow: row, nowrap;
  margin: 0 0 20px 0;
}

.items > div {
  width: 500px;
  height: 270px;
  border-radius: 10px;
  overflow: hidden;
}

.items > div > img {
  max-width: 500px;
}

.items > ul {
  width: 700px;
  position: relative;
  margin-left: 20px;
}

.items > button {
  position: absolute;
}

.items > ul > li {
  position: absolute;
  color: #111;
}

.item-subject {
  top: 0;
  left: 0;
  font-size: 2.5rem;
  font-weight: 500;
}

.item-address {
  font-size: 1.5rem;
  top: 30px;
}

.item-textarea {
  top: 80px;
}

.item-textarea > p {
  font-size: 1.5rem;
  font-weight: 400;
  top: 70px;
}

.item-clickcount {
  top: 0;
  right: 0;
}
.item-starscore {
  top: 100%;
  left: 0;
  font-size: 1.8rem;
  font-weight: 500;
  transform: translate(0, -100%);
}

.item-cart {
  top: 0;
  right: 30px;
}

.contentList > li {
  position: relative;
}

.contentList > li > button {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  top: 270px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #111;
  font-weight: 500;
}

.itemContent {
  display: none;
  width: 100%;
  height: 500px;
  padding: 30px;
  margin: 20px 0 20px 0;
  box-shadow: 0 0 5px #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.show {
  display: block;
}
